## Preparing Data

In [3]:
import pandas as pd

df  = pd.read_csv(r"D:\pritish\BigML\Using-Scikit-Learn\ipynb-version\Multiple-Linear-Regression\dataset\50_Startups.csv")

In [5]:
df.head(3)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39

The Data has text Values... So we will convert it to Numbers so our model can process it

## Preprocessing Data

In [3]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(df.iloc[:, 3])
df.iloc[:, 3] = le.fit_transform(df.iloc[:, 3])

In [4]:
df.head(4)

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99

In [5]:
X = df.iloc[:, :4]
y = df.iloc[:, -1]

This are X values (preview)

In [6]:
X[:10]

   R&D Spend  Administration  Marketing Spend  State
0  165349.20       136897.80        471784.10      2
1  162597.70       151377.59        443898.53      0
2  153441.51       101145.55        407934.54      1
3  144372.41       118671.85        383199.62      2
4  142107.34        91391.77        366168.42      1
5  131876.90        99814.71        362861.36      2
6  134615.46       147198.87        127716.82      0
7  130298.13       145530.06        323876.68      1
8  120542.52       148718.95        311613.29      2
9  123334.88       108679.17        304981.62      0

This are y values (preview)

In [7]:
y[:5]

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

## Train, Test & Split

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## Making ML Model

In [10]:
from sklearn.linear_model import LinearRegression

multi_reg = LinearRegression()
multi_reg.fit(X_train, y_train)

LinearRegression()

### Coefficient Values

In [11]:
multi_reg.coef_

array([ 7.65014968e-01, -3.46162884e-02,  2.06448646e-02, -8.72234339e+02])

### Intercept Value

In [12]:
multi_reg.intercept_

57558.291343635145

## Predicting Test Set Values...

In [13]:
y_pred = multi_reg.predict(X_test)

### Accuracy Score

In [14]:
from sklearn.metrics import r2_score

r2_score(y_test, y_pred)

0.9637720690247581

#### That's a Nice Accuracy